In [1]:
import pandas as pd

In [2]:
leases = pd.read_csv('../Datasets/leases.csv')
pd.set_option('display.max_columns', None)
print(leases.columns.tolist())
leases.head()

['year', 'quarter', 'monthsigned', 'market', 'building_name', 'building_id', 'address', 'region', 'city', 'state', 'zip', 'internal_submarket', 'internal_class', 'leasedSF', 'company_name', 'internal_industry', 'transaction_type', 'internal_market_cluster', 'costarID', 'space_type', 'CBD_suburban', 'RBA', 'available_space', 'availability_proportion', 'internal_class_rent', 'overall_rent', 'direct_available_space', 'direct_availability_proportion', 'direct_internal_class_rent', 'direct_overall_rent', 'sublet_available_space', 'sublet_availability_proportion', 'sublet_internal_class_rent', 'sublet_overall_rent', 'leasing']

,year,quarter,monthsigned,market,building_name,building_id,address,region,city,state,zip,internal_submarket,internal_class,leasedSF,company_name,internal_industry,transaction_type,internal_market_cluster,costarID,space_type,CBD_suburban,RBA,available_space,availability_proportion,internal_class_rent,overall_rent,direct_available_space,direct_availability_proportion,direct_internal_class_rent,direct_overall_rent,sublet_available_space,sublet_availability_proportion,sublet_internal_class_rent,sublet_overall_rent,leasing
0,2018,Q1,1.0,Atlanta,10 Glenlake North Tower,Atlanta_Central Perimeter_Atlanta_10 Glenlake ...,10 Glenlake Pky NE,South,Atlanta,GA,30328.0,Central Perimeter,A,24736.0,Capital Investment Advisors,Financial Services and Insurance,Expansion,NaN,445509,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
1,2018,Q1,1.0,Atlanta,100 City View,Atlanta_Northwest_Atlanta_100 City View_3330 C...,3330 Cumberland Blvd,South,Atlanta,GA,30339.0,Northwest,A,965.0,NaN,NaN,New,NaN,436994,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
2,2018,Q1,1.0,Atlanta,1000 Parkwood,Atlanta_Northwest_Atlanta_1000 Parkwood_1000 P...,1000 Parkwood Cir SE,South,Atlanta,GA,30339.0,Northwest,A,2215.0,Efc Moen,NaN,New,NaN,434890,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
3,2018,Q1,1.0,Atlanta,1100 Circle 75,Atlanta_Northwest_Atlanta_1100 Circle 75_1100 ...,1100 Circle 75 Pky SE,South,Atlanta,GA,30339.0,Northwest,O,1925.0,NaN,NaN,New,NaN,434720,Relet,Suburban,65810449.0,12728989.0,0.193419,18.560886,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,715742.0
4,2018,Q1,1.0,Atlanta,1200 Ashwood,Atlanta_Central Perimeter_Atlanta_1200 Ashwood...,1200 Ashwood Pky,South,Atlanta,GA,30338.0,Central Perimeter,A,2404.0,NaN,NaN,New,NaN,437562,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0

In [3]:
leases.describe()

,year,monthsigned,zip,leasedSF,costarID,RBA,available_space,availability_proportion,internal_class_rent,overall_rent,direct_available_space,direct_availability_proportion,direct_internal_class_rent,direct_overall_rent,sublet_available_space,sublet_availability_proportion,sublet_internal_class_rent,sublet_overall_rent,leasing
count,194685.000000,193822.000000,194684.000000,1.946850e+05,1.946850e+05,1.455410e+05,1.455410e+05,145541.000000,145541.000000,145541.000000,1.216740e+05,121674.000000,121674.000000,121674.000000,1.216740e+05,121674.000000,121674.000000,121674.000000,1.455410e+05
mean,2020.897116,6.398458,54834.565671,7.418951e+03,8.585231e+05,8.734066e+07,1.761325e+07,0.205129,37.162132,39.730471,1.516990e+07,0.090624,38.532872,41.348356,3.067042e+06,0.017164,32.218578,34.264252,1.327221e+06
std,2.053467,3.415922,32228.307406,2.366310e+04,2.098700e+06,5.975856e+07,1.178294e+07,0.059300,16.183660,16.430368,9.717183e+06,0.035829,17.322360,17.641388,2.875391e+06,0.011111,13.148892,12.922946,1.234172e+06
min,2018.000000,1.000000,1420.000000,1.000000e+00,1.100000e+01,2.010185e+07,1.782779e+06,0.057300,16.957171,18.749409,1.544029e+06,0.021800,18.009119,19.990075,1.108040e+05,0.001700,14.149920,16.865199,5.520300e+04
25%,2019.000000,3.000000,22102.000000,1.265000e+03,1.578120e+05,4.641436e+07,8.345927e+06,0.165001,25.050378,28.860444,7.436069e+06,0.064500,25.717730,29.429358,9.483450e+05,0.008600,23.251198,24.678567,5.355900e+05
50%,2021.000000,6.000000,60607.000000,2.578000e+03,2.802520e+05,6.585438e+07,1.415498e+07,0.197558,32.582522,34.004225,1.218762e+07,0.082600,33.578010,35.731458,1.680762e+06,0.014000,28.384836,30.803734,8.893690e+05
75%,2023.000000,9.000000,85004.000000,5.818000e+03,4.306400e+05,1.153246e+08,2.345972e+07,0.247710,43.667669,44.548462,2.121029e+07,0.109500,46.645537,46.250885,4.512948e+06,0.024200,38.640250,39.026963,1.660927e+06
max,2024.000000,12.000000,98499.000000,1.463234e+06,2.024547e+07,2.683833e+08,5.457790e+07,0.414977,94.191224,84.746663,4.092899e+07,0.190500,99.642941,88.438174,1.435339e+07,0.074600,86.324412,81.205996,9.393220e+06

In [4]:
null_counts = leases.isnull().sum()

# Print the result
print(null_counts)

year                                   0
quarter                                0
monthsigned                          863
market                                 0
building_name                      36686
building_id                            0
address                                0
region                                 0
city                                   0
state                                  0
zip                                    1
internal_submarket                     0
internal_class                         9
leasedSF                               0
company_name                      157469
internal_industry                 168284
transaction_type                     539
internal_market_cluster           118847
costarID                               0
space_type                          7545
CBD_suburban                           0
RBA                                49144
available_space                    49144
availability_proportion            49144
internal_class_rent                49144
overall_rent                       49144
direct_available_space             73011
direct_availability_proportion     73011
direct_internal_class_rent         73011
direct_overall_rent                73011
sublet_available_space             73011
sublet_availability_proportion     73011
sublet_internal_class_rent         73011
sublet_overall_rent                73011
leasing                            49144
dtype: int64

In [5]:


len(leases['company_name'].unique())

28577

In [6]:
leases['internal_industry'].dropna().unique().tolist()

['Financial Services and Insurance',
 'Construction, Engineering and Architecture',
 'Technology, Advertising, Media, and Information',
 'Manufacturing (except Pharmaceutical, Retail, and Computer Tech)',
 'Associations and Non-profit Organizations (except Education and Non-profit Hospitals)',
 'Transportation',
 'Coworking and Executive Suite Companies',
 'Business, Professional, and Consulting Services (except Financial and Legal) - Including Accounting',
 'Education',
 'Legal Services',
 'Real Estate (except coworking providers)',
 'Healthcare',
 'Personal Services and Recreation',
 'Government',
 'Retail',
 'Energy & Utilities',
 'TBD',
 'Pharmaceuticals',
 'Agriculture, Forestry, Fishing, Metal & Mineral Mining',
 'Unclassifiable']

In [7]:
from geopy.geocoders import Nominatim
import folium
leases['address']

0                        10 Glenlake Pky NE
1                      3330 Cumberland Blvd
2                      1000 Parkwood Cir SE
3                     1100 Circle 75 Pky SE
4                          1200 Ashwood Pky
                        ...
194680    3111 W Dr Martin Luther King Blvd
194681                         1 Midtown Pl
194682                       400 N Tampa St
194683                      400 N Ashley Dr
194684    3101 W Dr Martin Luther King Blvd
Name: address, Length: 194685, dtype: object

In [12]:
leases['full_address'] = leases['address'] + ', ' + leases['city'] + ', ' + leases['state'] + ' ' + leases['zip'].fillna(0).astype(int).astype(str)

addresses = leases['full_address']
addresses

0                     10 Glenlake Pky NE, Atlanta, GA 30328
1                   3330 Cumberland Blvd, Atlanta, GA 30339
2                   1000 Parkwood Cir SE, Atlanta, GA 30339
3                  1100 Circle 75 Pky SE, Atlanta, GA 30339
4                       1200 Ashwood Pky, Atlanta, GA 30338
                                ...
194680    3111 W Dr Martin Luther King Blvd, Tampa, FL 3...
194681                        1 Midtown Pl, Tampa, FL 33607
194682                      400 N Tampa St, Tampa, FL 33602
194683                     400 N Ashley Dr, Tampa, FL 33602
194684    3101 W Dr Martin Luther King Blvd, Tampa, FL 3...
Name: full_address, Length: 194685, dtype: object

In [18]:
import pandas as pd
import requests
import folium
from tqdm import tqdm  # For progress bar

# Your Geoapify API key
geoapify_api_key = "7f436ced57704b3bad718286ee333081"

# Sample DataFrame with addresses (replace with your actual 'leases' data)
addresses = leases['full_address']
addresses['Latitude'] = None
addresses['Longitude'] = None

# Function to geocode an address using Geoapify
def geocode_address(address):
    try:
        url = f"https://api.geoapify.com/v1/geocode/search?text={address}&apiKey={geoapify_api_key}"
        response = requests.get(url)
        if response.status_code == 200:
            data = response.json()
            if data["features"]:
                coords = data["features"][0]["geometry"]["coordinates"]
                return coords[1], coords[0]  # Latitude, Longitude
            else:
                return None, None
        else:
            print(f"Error: {response.status_code}, {response.text}")
            return None, None
    except Exception as e:
        print(f"Exception during geocoding: {e}")
        return None, None

# Sample only a subset of addresses
sampled_addresses = leases['full_address'].sample(100, random_state=42)

# Create a new DataFrame for the sampled addresses
addresses = pd.DataFrame(sampled_addresses)
addresses['Coordinates'] = [
    geocode_address(address) for address in tqdm(sampled_addresses, desc="Geocoding addresses")
]

# Split coordinates into Latitude and Longitude
addresses['Latitude'] = addresses['Coordinates'].apply(lambda x: x[0] if x else None)
addresses['Longitude'] = addresses['Coordinates'].apply(lambda x: x[1] if x else None)

# Drop rows with missing coordinates
# Display a few rows to ensure geocoding worked
addresses.head()

/var/folders/7c/0mzvfvqd0yn715h26zd94pmm0000gn/T/ipykernel_36564/469944051.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addresses['Latitude'] = None
Geocoding addresses: 100%|██████████| 100/100 [01:25<00:00,  1.18it/s]

,full_address,Coordinates,Latitude,Longitude
83484,"365 W Passaic St, Rochelle Park, NJ 7662","(40.91796186851646, -74.08474808893955)",40.917962,-74.084748
83142,"3625 Del Amo Blvd, Torrance, CA 90503","(33.84865124489796, -118.34992257142858)",33.848651,-118.349923
27607,"1099 Wall St W, Lyndhurst, NJ 7071","(40.80622570469799, -74.10358439597316)",40.806226,-74.103584
49311,"299 Park Ave, New York, NY 10171","(40.75604, -73.974448)",40.756040,-73.974448
148861,"3000 Gulf To Bay Blvd, Clearwater, FL 33759","(27.960749, -82.712518)",27.960749,-82.712518

In [19]:
# Write the 'addresses' DataFrame to a JSON file
addresses.to_json('addresses_geocoded.json', orient='records', lines=True)